#wpc-body {
	background: $main-bg;
}

#wpc-content {
	min-height: $main-min-height;
	padding: $main-padding-vert $main-padding-horiz;
	overflow: auto;

	@media #{$wpc-container-max-width-bp} {
		padding-top: $main-max-padding-vert;
		padding-bottom: $main-max-padding-vert;
	}
}
