#wpc-body {
	background: $main-bg;
}

#wpc-content {
	min-height: $main-min-height;
	padding: $main-padding-vert $main-padding-horiz;
	overflow: visible;

	@media #{$wpc-container-max-width-bp} {
		padding: $main-max-padding-vert 0;
	}
}
