$confirmation-bg-color: rgba( 0, 255, 0, 0.2 );

#wpc-main {

	.gform_confirmation_message {
		background: $confirmation-bg-color;
		padding: 20px;
	}

	.gform_wrapper {
		max-width: 100%;
		margin: 0;
		padding: 0;

		input[type="text"] {
			margin: 0 0 0.5em 0;
			padding: 5px;
			line-height: 1;

			&.ginput_quantity {
				display: inline-block;
			}

			&[readonly="readonly"] {
				background-color: rgba(0,0,0,0.05);
			}
		}

		input[type="radio"],
		input[type="checkbox"] {
			margin: 3px 0.5em 8px .2em !important;

			& + label {
				margin: 3px 0 6px 0 !important;
			}

			&:focus + label {
				border: 1px solid #222;
				padding: 2px 4px;
			}
		}

		ul.gform_fields {
			li.gfield {
				margin: 0 0 1.5em 0;
				padding-top: 0;
				padding-bottom: 0;

				&.gfield_error {
					margin-bottom: 1.5em!important;
				}

				/*.gfield_checkbox {

					li {

						&:focus-within {
							background: red;
						}
					}
				}*/
			}
		}

		.gfield_checkbox li label,
		.gfield_radio li label,
		.description,
		.gfield_description,
		.gsection_description,
		.instruction {
			font-size: 1rem;
		}

		.gfield_label {
			font-size: 1em;
			line-height: 1.4;
			font-weight: 600 !important;
		}

		.gfield_description {

			p {
				margin: 0.5rem 0;
			}
		}

		.top_label {

			.gfield_description {
				padding: 0 0 .625em 0;

				* {
					&:first-child {
						margin-top: 0.5rem;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.gfield.field_description_below {

				.gfield_description {
					padding-top: 1.25em;
				}
			}
		}

		.gform_footer {
			padding: 0;
			border-top: 0;
			margin: 1.5em 0 0 0;

			.gform_previous_button,
			.gform_next_button,
			input.gform_button,
			input.button,
			input[type="submit"] {
				display: block;
				width: 100%;
				text-align: center;
				margin: 0;
				border: 0;
				background: $wpc-royal-blue;
				color: #fff;
				//line-height: 30px;
				//font-weight: 300;
				text-transform: uppercase;
			}
		}

		.gform_page_footer {
			display: flex;
			padding: 0;
			border-top: 0;
			margin: 1.5em 0 0 0;

			.gform_next_button,
			.gform_previous_button,
			.gform_button,
			input.button,
			button {
				display: block;
				width: 100%;
				text-align: center;
				margin: 0;
				border: 0;
				//line-height: 30px;
				//font-weight: 300;

				&:not(:first-child) {
					margin-left: 1em;
				}
			}

			.gform_button,
			.gform_next_button {
				@include button-primary();
			}
		}
	}
}
