#login-form {
	border: 1px solid #e5e5e5;
	padding: 20px 20px 25px;

	h2 {
		margin: 0 0 1rem 0;
		font-size: 2rem;

		& + p {
			margin-top: -0.5rem;
		}
	}

	label {
		display: block;
		//font-size: 0.9rem;
		margin: 0 5px 5px 0;
	}

	input[type="text"],
	input[type="password"],
	textarea {
		display: block;
		width: 100%;
		-webkit-appearance: none;
		-moz-appearance: none;
		border-radius: 0;
		background-color: #fff;
		border-style: solid;
		border-width: 1px;
		border-color: #ccc;
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		font-family: inherit;
		//font-size: 0.875rem;
		//height: 2.3125rem;
		//margin: 0 0 1rem 0;
		//padding: 0.5rem;
		transition: border-color 0.15s linear, background 0.15s linear;

		&:hover,
		&:focus {
			background: #fafafa;
			border-color: #999;
		}
	}

	.button,
	input[type="submit"] {
		margin-bottom: 0;
	}

	*:last-child {
		margin-bottom: 0;
	}
}

#wpc-content {

	> * {

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.gptos_terms_container {
		height: 300px;
	}

	.wpc-sponsors {
		margin: 2rem 0;

		h2 {
			font-size: 2rem;
			line-height: 1;
			font-weight: 400;
			text-transform: uppercase;
		}

		h3 {
			font-size: 2.2rem;
			line-height: 2.8rem;
		}

		img {
			display: block;
		}

		.wpc-sponsor {
			border: 1px solid #e3e3e3;
			padding: 20px;

			.wpc-sponsor-logo a {
				display: block;
			}

			> *:last-child,
			.wpc-sponsor-text *:last-child {
				margin-bottom: 0;
			}
		}

		&.sponsors-president {

			.wpc-sponsor {
				border: 1px solid rgba(0, 0, 0, 0.04);
				margin: 0 0 1.5rem 0;

				.wpc-sponsor-logo {
					margin: 0 0 20px 0;

					img {
						margin: 0 auto;
					}
				}
			}

			@media #{$sponsor-bp-width-bp} {

				.wpc-sponsor {
					background: rgba(0, 0, 0, 0.04);
					padding: 30px;
					border: 0;

					.wpc-sponsor-logo {
						background: #fff;
						padding: 20px;
					}
				}
			}
		}

		&.sponsors-vp {

			h2 {
				font-size: 1.6rem;
			}

			h3 {
				font-size: 1.8rem;
				line-height: 2.2rem;
			}

			.wpc-sponsor-logo img {
				width: 65%;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&.sponsors-grad {

			h2 {
				font-size: 1.6rem;
				border-bottom: 1px solid #e3e3e3;
				padding-bottom: 0.8em;
				margin-bottom: 1.4em;
			}

			h3 {
				font-size: 1.5rem;
				line-height: 2rem;
			}

			.wpc-sponsor {
				border: 0;
				border-bottom: 1px solid #e3e3e3;
				padding: 0 0 2em 0;
				margin: 0 0 2em 0;

				.wpc-sponsor-logo {

					img {
						display: block;
						width: 55%;
						margin: 2.2rem 0;
					}

					&.logo-left {
						float: left;
						width: 300px;
						height: auto;
						margin: 2.2rem 2.2rem 2.2rem 0;

						img {
							width: auto;
							margin: 0 auto;
						}

						@media #{$sponsor-bp-width-bp} {
							width: 250px;
						}
					}
				}

				&:last-child {
					border-bottom: 0;
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
		}

		&.sponsors-undergrad {

			h2 {
				font-size: 1.6rem;
				border-bottom: 1px solid #e3e3e3;
				padding-bottom: 0.8em;
				margin-bottom: 1.4em;
			}

			h3 {
				clear: none;
				font-size: 1.3rem;
				line-height: 1.8rem;
			}

			.wpc-sponsor {
				display: flex;
				border: 0;
				padding: 0;
				margin: $element-margin-vert 0;
				overflow: auto;

				.wpc-sponsor-logo {
					float: left;
					width: 200px;
					flex-basis: 200px;
					height: auto;
					margin: 0.5rem 2.2rem 2.2rem 0;

					img {
						margin: 0 auto;
					}

					@media #{$sponsor-bp-width-bp} {
						width: 250px;
						flex-basis: 250px;
					}
				}

				.wpc-sponsor-text {
					flex: 1;
				}

				&.oho,
				&.pgogy {
					.wpc-sponsor-logo img {
						width: 70%;
					}
				}

				&.wpexplorer {
					.wpc-sponsor-logo img {
						width: 60%;
					}
				}
			}
		}

		&.sponsors-community {

			h2 {
				font-size: 1.5rem;
			}
		}
	}

	button,
	.button {

		&.expand {

			& + button,
			& + .button {

				&.expand {
					margin-top: 0.75rem;
				}
			}
		}
	}

	ul, ol {

		&.columns {

			@media #{$wpc-container-mid-width-bp} {
				&.two {
					display: grid;
					grid-template-columns: auto auto;
					grid-column-gap: 1em;
					overflow: visible;
					margin: 0 0 0 2.5em;
					padding: 0;
					list-style-position: outside;

					li {
						padding-left: 0;
					}
				}
			}
		}
	}

	.columns {
		overflow: auto;

		.column {
			width: 100%;

			@media #{$wpc-container-mid-width-bp} {

				&:first-child:nth-last-child(2),
				&:first-child:nth-last-child(2) ~ .column {
					width: 50%;
				}

				&:first-child:nth-last-child(3),
				&:first-child:nth-last-child(3) ~ .column {
					width: 33.3333%;
				}

				&:first-child:nth-last-child(4),
				&:first-child:nth-last-child(4) ~ .column {
					width: 25%;
				}

				&:first-child:nth-last-child(2),
				&:first-child:nth-last-child(3),
				&:first-child:nth-last-child(4) {
					float: left;
					padding-right: 10px;
				}
				&:first-child:nth-last-child(2) ~ .column,
				&:first-child:nth-last-child(3) ~ .column,
				&:first-child:nth-last-child(4) ~ .column {
					float: left;
					padding-left: 10px;
				}
			}
		}
	}

	.wpc-page-title-container {
		overflow: hidden;
		padding: 0 0 1.8rem 0;

		.wpc-page-title {
			display: block;
			margin: 0;
		}

		&.has-actions {

			.wpc-page-title-actions {
				margin: 1rem 0 0 0;

				ul {
					display: block;
					list-style: none;
					margin: 0;

					li {
						display: block;
						list-style: none;
						margin: 0;
					}
				}
			}

			@media screen and (min-width: $wpc-container-mid-width) {

				.wpc-page-title {
					float: left;
				}

				.wpc-page-title-actions {
					float: right;
					margin: 5px 0 0 0;
				}
			}
		}
	}

	.wpc-breadcrumbs {
		display: block;
		clear: both;
		background: none;
		width: auto;
		margin: $element-margin-vert 0;
		text-align: left;
		color: #666;
		font-size: 0.85rem;
		line-height: 1.5;

		ul {
			display: block;
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: inherit;
			line-height: inherit;
		}

		li {
			display: inline-block;
			list-style: none;

			a {
				color: inherit;
			}

			&:before {
				content: '/';
				margin: 0 10px;
			}

			&:first-child:before {
				display: none;
			}
		}
	}

	.wpc-page-title-container + .wpc-breadcrumbs {
		margin-top: -0.6rem;
		margin-bottom: 2rem;
	}

	.panel,
	.callout {
		display: block;
		background: $panel-bg;
		padding: $panel-padding-vert $panel-padding-horiz;
		margin: $element-margin-vert 0;
		color: $panel-color;

		a:not(.button) {
			color: inherit;
		}

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}

		&.center {
			text-align: center;
		}

		&.larger {
			font-size: 1.2em;
		}

		&.red {
			background: #900;
			color: #fff;
		}

		&.light-red {
			background: rgba(#700,0.07);
			color: $panel-color;
		}

		&.blue {
			background: $wpc-dark-blue;
			color: #fff;
		}

		&.light-blue {
			background: rgba( $wpc-dark-blue, 0.1 );
			color: $panel-color;
		}

		&.royal-blue {
			background: $wpc-royal-blue;
			color: #fff;
		}

		&.light-royal-blue {
			background: rgba( $wpc-royal-blue, 0.1 );
		}

		&.light-2019-blue {
			background: rgba( $wpc-2019-blue, 0.1 );
		}

		&.blue-2019 {
			background: $wpc-2019-blue;
			color: #fff;
		}

		&.success {
			background: rgba(0,255,0,.2);
			color: $panel-color;
		}
	}

	article {

		> *,
		> .gform_wrapper > form > .gform_heading > .gform_description > * {

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		/*border-top: 1px solid #F3F3F3;
		padding: 33px 0 0 0;
		margin: 40px 0 0 0;

		header {
			margin: 0 0 15px 0;

			.entry-title {
				margin: 0;

				a {
					color: darken( $wpc-royal-blue, 6% );
				}
			}
		}

		&:first-child {
			border-top: 0;
			margin-top: 0;
			padding-top: 0;
		}

		.article-thumbnail {
			float: left;
			width: 100px;
			height: 100px;
			margin: 0.8rem 30px 10px 0;

			@media screen and (min-width: $wpc-medium-up) {
				width: 150px;
				height: 150px;
			}
		}*/
	}

	.wpcampus-articles {

		article {
			margin: $element-margin-vert 0 0 0;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	#wpcampus-speaker-app {
		margin: 1rem 0 0;
	}
}
