// COLORS
$wpc-dark-blue: #2e3641;
$wpc-royal-blue: #1159bd;
$wpc-gray: #444;
$wpc-light-blue: #e4eaf4;
$link-color: $wpc-royal-blue;
$wpc-orange: #A76739;
$wpc-2019-blue: #347dc8;

// FONTS
$open_sans: 'Open Sans', sans-serif;

// Set the base font
$body-font-family: $open_sans;

// THE DOCUMENT
$body-bg: #fafafa;
$body-font-color: #222;
$body-font-size: 1rem;
$body-line-height: 1.7;
$main-bg: #fff;

// LAYOUT
$container-max-width: 920px;

// Main
$main-min-height: 200px;
$main-padding-vert: 30px;
$main-padding-horiz: 30px;
$main-max-padding-vert: 40px;

// GENERAL ELEMENTS
$element-margin-vert: 1.5rem;

// LISTS
$list-margin-side: 2.4rem;

// PANELS
$panel-bg: rgba( #000, 0.05 );
$panel-color: #222;
$panel-padding-vert: 20px;
$panel-padding-horiz: 20px;

$sponsor-bp-width: 600px;
$sponsor-bp-width-bp: "screen and (min-width: " + $sponsor-bp-width + ");";

// Layout
$wpc-container-max-width: 920px;
$wpc-container-max-width-bp: "screen and (min-width: " + ( $wpc-container-max-width + $main-padding-horiz ) + ");";
//@media #{$wpc-container-max-width-bp} {}

$wpc-container-mid-width: 660px;
$wpc-container-mid-width-bp: "screen and (min-width: " + $wpc-container-mid-width + ");";
//@media #{$wpc-container-mid-width-bp} {}
