// COLORS
$wpc-dark-blue: #2e3641;
$wpc-royal-blue: #1159bd;
$link-color: $wpc-royal-blue;

// THE DOCUMENT
$body-bg: #fafafa;
$body-font-color: #222;
$body-font-size: 1rem;
$body-line-height: 1.7;
$main-bg: #fff;

// LAYOUT
$container-max-width: 920px;

// GENERAL ELEMENTS
$element-margin-vert: 1.5rem;

// LISTS
$list-margin-side: 2.4rem;

// PANELS
$panel-bg: rgba( #000, 0.05 );
$panel-color: #222;
$panel-padding-vert: 20px;
$panel-padding-horiz: 20px;
