@import "settings";
@import "mixins";
@import "normalize";

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	font-size: 100%;
	height: 100%;
}

html {
	box-sizing: border-box;
}

body {
	background: $body-bg;
	color: $body-font-color;
	font-family: $body-font-family;
	font-size: $body-font-size;
	font-style: normal;
	font-weight: normal;
	line-height: $body-line-height;
	margin: 0;
	padding: 0;
	position: relative;
	cursor: auto;
}

// Hide these elements visibly, but make sure they're still viewable by screen readers.
.for-screen-reader {
	@include for-screen-reader();
}

.margin-top-no {
	margin-top: 0;
}

#wpc-wrapper {
	height: 100%;
}

.wpc-container {
	max-width: $container-max-width;
	margin: 0 auto;
}

@import "components/typography";
@import "components/main";
@import "components/forms";

@import "components/header";
@import "components/body";
