a {
	color: $link-color;
	text-decoration: underline;
}

strong {
	font-weight: 700;
}

.underline {
	text-decoration: underline;
}

.uppercase {
	text-transform: uppercase;
}

h1 {
	display: block;
	clear: left;
	font-size: 2.8rem;
	line-height: 1.2;
	font-weight: 300;
	margin: 1.8rem 0;
}

h2 {
	display: block;
	clear: left;
	font-size: 1.9rem;
	line-height: 2.8rem;
	font-weight: 600;
	margin: 0 0 1rem 0;

	.wpc-page-title-container + & {
		margin-top: -15px;
	}
}

h3 {
	display: block;
	clear: left;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 400;
	margin: 0 0 1rem 0;
}

p, ol, ul {
	font-size: $body-font-size;
	line-height: $body-line-height;

	h3 + & {
		margin-top: 0.8rem;
	}
}

img, p, ul, ol {
	margin: $element-margin-vert 0;
}

ol, ul {
	margin-left: $list-margin-side;
	padding: 0;
	list-style-position: outside;

	li {
		margin: 0;
		padding: 0;
	}

	p + & {
		margin-top: -0.5rem;
	}

	ol, ul {
		margin-top: 0.5rem;
		margin-bottom: 0.8rem
	}
}

img {
	max-width: 100%;
	height: auto;

	&.aligncenter {
		 display: block;
		 margin-left: auto;
		 margin-right: auto;
	}

	&.alignright {
		display: block;
		margin-left: auto;
		margin-right: auto;

		@media #{$wpc-container-mid-width-bp} {
			float: right;
			margin-left: $element-margin-vert;
			margin-right: 0;
		}
	}
}

iframe {
	width: 100%;
	border: 0;
	margin: 0 0 $element-margin-vert 0;

	&.wpc-iframe-resize {

		&.loading {
			opacity: 0.2;
			pointer-events: none;
		}
	}
}

button,
.button {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 1.3rem;
	text-align: center;
	cursor: pointer;
	text-decoration: underline;
	border: 0;
	border-radius: 5px;
	@include button-reset-color();

	&.inline {
		display: inline-block;
		width: auto;
	}

	&.full {
		width: 100%;
	}

	&.bigger {
		font-size: 1.3rem;
		height: 55px;
		line-height: 55px;
	}

	&.light-blue {
		background-color: $wpc-light-blue;
		color: #222;

		&:focus,
		&:hover {
			background-color: darken( $wpc-light-blue, 10% );
		}
	}

	&.light-gray {
		background-color: rgba(0,0,0,0.05);
		color: #222;

		&:focus,
		&:hover {
			background-color: rgba(0,0,0,0.2);
		}
	}

	&.primary,
	&.royal-blue {
		@include button-primary();
	}

	&.blue-2019 {
		background: $wpc-2019-blue;
		color: #fff;

		&:focus,
		&:hover {
			background-color: darken( $wpc-2019-blue, 20% );
		}
	}

	&.light-2019-blue {
		background: rgba( $wpc-2019-blue, 0.1 );
	}

	&.dark-blue {
		background-color: $link-color;
		color: #fff;

		&:focus,
		&:hover {
			background-color: darken( $link-color, 10% );
		}
	}

	&.orange {
		background: $wpc-orange;
		color: #fff;

		&:focus,
		&:hover {
			background-color: darken( $wpc-orange, 10% );
		}
	}
}

hr {
	background: #e3e3e3;
	border: 0;
	height: 1px;
	margin: 2.5rem 0;
}
