#wpc-content {
	min-height: $main-min-height;
	padding: $main-padding-vert $main-padding-horiz;
	overflow: auto;

	@media screen and (min-width: $wpc-container-max-width) {
		padding-top: $main-max-padding-vert;
		padding-bottom: $main-max-padding-vert;
	}
}
