#wpc-content {

	* {

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul, ol {

		&.columns {
			overflow: auto;
			width: 100%;

			&.two {

				li {
					float: left;
					width: 50%;

					&:nth-child(odd) {
						padding-right: 10px;
					}

					&:nth-child(even) {
						padding-left: 10px;
					}
				}
			}
		}
	}

	.columns {
		overflow: auto;

		.column {
			width: 100%;

			&:first-child:nth-last-child(2),
			&:first-child:nth-last-child(2) ~ .column {
				width: 50%;
			}

			&:first-child:nth-last-child(3),
			&:first-child:nth-last-child(3) ~ .column {
				width: 33.3333%;
			}

			&:first-child:nth-last-child(4),
			&:first-child:nth-last-child(4) ~ .column {
				width: 25%;
			}

			&:first-child:nth-last-child(2),
			&:first-child:nth-last-child(3),
			&:first-child:nth-last-child(4) {
				float: left;
				padding-right: 10px;
			}
			&:first-child:nth-last-child(2) ~ .column,
			&:first-child:nth-last-child(3) ~ .column,
			&:first-child:nth-last-child(4) ~ .column {
				float: left;
				padding-left: 10px;
			}
		}
	}

	.wpc-breadcrumbs {
		display: block;
		background: none;
		width: auto;
		margin: $element-margin-vert 0;
		text-align: left;
		color: #666;
		font-size: 0.85rem;
		line-height: 1.5;

		li {
			display: inline-block;
			list-style: none;

			a {
				color: inherit;
			}

			&:before {
				content: '/';
				margin: 0 10px;
			}

			&:first-child:before {
				display: none;
			}
		}
	}

	h1 + .wpc-breadcrumbs {
		margin-top: -0.6rem;
		margin-bottom: 2rem;
	}

	.panel,
	.callout {
		display: block;
		background: $panel-bg;
		padding: $panel-padding-vert $panel-padding-horiz;
		margin: $element-margin-vert 0;
		color: $panel-color;

		a {
			color: inherit;
		}

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}

		&.center {
			text-align: center;
		}

		&.red {
			background: #900;
			color: #fff;
		}

		&.blue {
			background: $wpc-dark-blue;
			color: #fff;
		}

		&.light-blue {
			background: rgba( $wpc-dark-blue, 0.1 );
			color: #fff;
		}

		&.royal-blue {
			background: $wpc-royal-blue;
			color: #fff;
		}

		&.light-royal-blue {
			background: rgba( $wpc-royal-blue, 0.1 );
		}

		&.bigger {
			font-size: 1.2rem;
			line-height: 1.7;
		}
	}

	/*article {
		border-top: 1px solid #F3F3F3;
		padding: 33px 0 0 0;
		margin: 40px 0 0 0;

		header {
			margin: 0 0 15px 0;

			.entry-title {
				margin: 0;

				a {
					color: darken( $wpc-royal-blue, 6% );
				}
			}
		}

		&:first-child {
			border-top: 0;
			margin-top: 0;
			padding-top: 0;
		}

		.article-thumbnail {
			float: left;
			width: 100px;
			height: 100px;
			margin: 0.8rem 30px 10px 0;

			@media screen and (min-width: $wpc-medium-up) {
				width: 150px;
				height: 150px;
			}
		}
	}*/
}
